@{
    Layout = "_Layout";
}

<li class ="nav-item">
    <a class="nav-link text-black dark" asp-area=""
        asp-controller="Instituicao" asp-action="Index">Instituicoes</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area=""
        asp-controller="Aluno" asp-action="Index">Alunos</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area=""
       asp-controller="Departamento" asp-action="Index">Departamentos</a>
</li>
